
#card1:hover{
     background: #ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #card2:hover{
     background:#ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #card3:hover{
     background: #ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #card4:hover{
     background:#ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #card5:hover{
     background:#ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #card6:hover{
     background: #ffa061;
     border-top: 1px solid #d0d0d0;
 }

 #tag{
   margin-top: 0%;
   background: linear-gradient(-45deg, #EC5252 0, #6E1A52 100%);
 }
